.content-get {
  text-align: center;
}

.content-get h1 {
  margin-bottom: 50px;
}

.user-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 29px;
}

.user {
  max-width: 370px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.user .user-info * {
  word-break: break-all;
  height: auto;
  max-width: 370px;
}
.user img {
  height: 70px;
  width: 70px;
  background-color: #ccc;
  border-radius: 50%;
}

.show-more-btn {
  margin-top: 50px;
}
